

.header {
  background-image:  url('../../images/header-sun.jpg');;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

.header p {
  font-size: 16px;
  color: #666;
}
